header {
    border: 1px solid;
    margin: 10px;
    height: 30%;
}

#menu {
    border: 1px solid;
    margin: 10px;
}

#main {
    border: 1px solid;
    display: flex;
    margin: 10px;
    min-height: 50%;
}

#footer {
    border: 1px solid;
    margin: 10px;
}

.conteudo{
    width: 100%;
    padding: 10px;
}

#div-form{
    width: 50%;
    text-align: center;
    margin: auto;
    border: 1px solid;
}

form label{
    display: block;
    font-weight: bold;
    margin: 5px;
}

#div-form h2{
    margin-bottom: 30px;
}

form input{
    width: 50%;
}

form button{
    margin-top: 20px;
}

form div{
    margin: 20px;
}

table{
    border: 1px solid;
    margin: auto;
}

table td, table th{
    border: 1px solid;
}